.stripe-cardelem {
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	line-height: 1.5;
	height: 2.285em;
}

.pagecontent {
	border-top: 1px solid #aaa;
}

.thumb160 {
	padding: 2px;
	width: 160px;
}

.is-full-width {
	width: 100%;
}

.avatar {
    width: 7em;
    height: 7em;
    background-size: cover;
    border-radius: 100%;
    margin-right: 0em;
    margin-left: 0.5em;
    margin-top: 0.75em;
    pointer-events: auto;
}

.avatar-large {
    width: 15em;
    height: 15em;
}

.entry-preview-text {
	white-space: pre-wrap;
}
